@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background-color: #000000;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  transition: 0.5s;
}

nav.floating {
  background-color: var(--dark-a);
  padding: 0;
}

nav>a {
  color: #ffffff;
  margin: 10px;
  padding: 5px;
  transition: 0.5s;
}

nav>a:hover, nav>a.active {
  color: var(--primary-color);
}

.d-flex {
  display: flex;
}

section.d-flex {
  flex-direction: column;
}

section.d-flex.banner {
  align-items: center;
}

.banner>.banner-image {
  width: 75%;
}

.banner>.banner-content {
  text-align: center;
  padding: 2em;
}

.banner-content .banner-links {
  flex-direction: column;
}

.full-page {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.min-full-page {
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.lmr-5>* {
  margin-right: 1em;
}

.lmt-5>* {
  margin-top: 1em;
}

.alert-modal {
  background-color: var(--white);
  color: var(--dark);
  padding: 2em;
  width: 60%;
  text-align: center;
}

h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  margin-top: 10px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.25em;
  }
  section.d-flex.banner {
    flex-direction: row;
  }
  .banner>.banner-image {
    width: 50%;
  }
  .banner>.banner-content {
    width: 50%;
    text-align: inherit;
    padding: 4em;
  }
  .banner.banner-alt>.banner-image {
    order: 1;
  }
  .banner.banner.banner-alt>.banner-content {
    order: 0;
  }

  .alert-modal {
    width: 25%;
  }
}