#nezuco {
    font-size: 3rem;
    letter-spacing: 0.6em;
}

.section {
    padding: 10% 5%;
    text-align: center;
}

.cards>div {
    width: 250px;
    margin: 1em;
    padding: 3em 1.5em;
    border: 3px solid var(--dark);
    background-color: var(--dark);
    background-clip: padding-box;
    transition: 0.75s;
}

.cards>div:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #ffffff;
}

.cards>div>p {
    margin: 20px 0;
}

@media (min-width: 800px) {
    #nezuco {
        font-size: 6rem;
    }
}